*/.DS_Store
*/node_modules
*/dist
*/*.pyc
*/*.pyo
*/build/
*/*.egg
*/*.egg-info/
*/.tox/
*/.cache/
*/.pytest_cache/
*/docs/_build/ 
*/makewebsitepewpewpew/done/
# Coverage reports
*/htmlcov/
*/.coverage
*/.coverage.*
*/*,cover
*/package-lock.json

# local env files
*/.env.local
*/.env.*.local
*/env/
*/venv/
*/.venv/
*/env*
*/.flaskend


# Log files
*/npm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*
*/pnpm-debug.log*

# Editor directories and files
*/.idea
*/.vscode
*/*.suo
*/*.ntvs*
*/*.njsproj
*/*.sln
*/*.sw?

# Data Files
*.csv
*.xlsx
*.xls

!/backend/__data/airports_in_gdb/Airports.csv

# Checkpoints
.ipynb_checkpoints

# Log files
*.log

# Python Specific
__pycache__
.idea

neo4j/*
neo4j-test/*
backend/scraping/test.py
backend/scraping/test.py
backend/scraping/test.py
backend/scraping/test3.py
backend/scraping/test2.py
backend/scraping/test.py
backend/scraping/test4.py
